.location-section
  .ant-card-body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: auto
    height: auto

  .map-component
    width: 100%
    height: calc(100vh / 2)



